@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$font : 'Open Sans', sans-serif;
$top-header-color:#000;
$white:#fff;
$default: #5c5c5c;

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body{
    font-family: $font;
    font-size: 0.75rem;
    color: $default;
    text-transform: uppercase;
    line-height: 1.65;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    padding: 0;
    background: 0 0;
    border: none;
    border-radius: 0;
}

img{
    max-width: 100%;
}

.heading{
    letter-spacing: .5px;
    text-transform: uppercase;
    color: $default;
}

.icon{
    display: inline-block;
    height: 1em;
    width: 1em;
    fill: currentColor;
    vertical-align: middle;
    stroke-width: 1px;
    background: 0 0;
    pointer-events: none;
}

.plus-icon{
    position: absolute;
    right: 0;
    top: calc(50% - (11px / 2));
    width: 11px;
    height: 11px;

    &:before,
    &:after{
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%) rotate(-90deg);
        transform: translate(-50%,-50%) rotate(-90deg);
        background-color: currentColor;
        -webkit-transition: opacity .4s ease-in-out,-webkit-transform .4s ease-in-out;
        transition: opacity .4s ease-in-out,-webkit-transform .4s ease-in-out;
        transition: transform .4s ease-in-out,opacity .4s ease-in-out;
        transition: transform .4s ease-in-out,opacity .4s ease-in-out,-webkit-transform .4s ease-in-out;
    }

    &:before{
        width: 11px;
        height: 1px;
        opacity: 1;
    }

    &::after{
        width: 1px;
        height: 11px;
    }
}

.header-icon{
    .icon-nav{
        height: 20px;
        width: 28px;
    }

    .icon-cart{
        width: 17px;
        height: 20px;
    }

    .icon-close{
        width: 15px;
        height: 15px;
        stroke-width: 1.25px;
    }
}

.top-header{
    background-color: $top-header-color;
    color: $white;
    text-align: center;
    font-size: .625rem;
    letter-spacing: .5px;

    &-row{
        padding: 12px 15px;
    }
}

.mobile-sidebar-menu{
    background: rgba(54,54,54 ,.5);
}

.sidebar-menu-wrap{
    background: $white;
    width: calc(100vw - 65px);

    header{
        padding: 17px 18px 17px 24px;
    }

    .menu-container{
        padding-left: 18px;
        padding-right: 24px;
    }

    .menu-item{
        border-bottom: 1px solid #e7e7e7;
        overflow: hidden;

        &-btn{
            padding: 20px 0;
            display: block;
            position: relative;
            width: 100%;
            text-align: left;
            font-size: 0.8125rem;
        }
        .submenu-wrap{

            .menu-item{
                margin-left: 16px;
                border: none;
                padding: 13px 0;
                color: rgba($default, .5);
            }
        }
    }
}

.header-wrap-row{
    padding: 15px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-icon{
        line-height: 1;
        -webkit-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;
        position: relative;
    }

    .logo-wrap{
        
        a{
            font-size: 1.875rem;
            font-weight: 700;
            text-decoration: none;
            line-height: 1;
        }
    }

    a{
        color: $top-header-color;
    }
}
